POSTGRES_DB=reklama
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=default

OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_PROVIDER=openai
OPENAI_MODEL_NAME=gpt-5

SERVER_HOST=localhost
SERVER_PORT=8000
